argh==0.26.2
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
configparser==3.8.1
Flask==1.1.1
Flask-HTTPAuth==3.3.0
futures==2.2.0
gevent==1.4.0
greenlet==0.4.15
gunicorn==20.0.4
idna==2.8
instagram-scraper==1.7.1
ipinfo==3.0.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pathtools==0.1.2
powerline-status==2.7
PyMySQL==0.9.3
PyYAML==5.1.2
redis==3.3.11
requests==2.22.0
scons==3.0.1
six==1.12.0
tqdm==4.35.0
urllib3==1.25.8
watchdog==0.9.0
websocket==0.2.1
websocket-client==0.56.0
Werkzeug==0.16.0
