body{
	margin:0;
	font-family:'微软雅黑','Times New Roman', Times, serif;
    background:#fff
}

.main {
    height: 100%;
}

.navi_head{
	height:50px;
	background-color:#459df5;
}
.navi_body{
	overflow:hidden;
	height:50px;
	background:rgba(36,97,158,0.9);
	transition:height ease 0.5s;
}

.main_body{
   background-color:#DDDDDD;
   height: 100%;
}

.markdown_body {
   background-color:white;
   height: 100%;
} 

.markdown_main_body {
    width: 854px;
    margin:0 auto;
} 


.system_body {
    height: 950px;
    margin:0 auto;
} 

.pie{
    height:60%;
}

#container1,
#container2 {
    width: 50%;
    height: 100%;
    float: left;
    border-bottom: solid green 1px;
    border-top: solid green 1px;
    padding-top: 5px;
}

.line {
    height:40%;
}

.packet_net {
    height:60%;
}

#container3 {
    width: 100%;
    height: 100%;
}

#container_net1,
#container_net2,
#container_net3,
#container_net4,
#container_net5,
#container_net6,
#container_net7,
#container_net8,
#container_net9,
#container_net10 {
    width: 100%;
    height: 100%;
}






.navi_head>div>span{
	width:150px;
	text-align:center;
	height:300px;
	display:inline-block;
	font-weight:bold;
	color:#FFF;
	font-size:14px;
	vertical-align:top;
}

.navi_head>div>span>p a{
	color:#FFF;
	text-decoration:none;
}
.navi_head>div>span>p a:hover{
	color:#FFF;
	text-decoration:underline;
}

.navi_title{
	font-size:16px;
	line-height:50px;
	margin-top:0;
}

.navi_head>div>span:hover{
	background:rgba(100,100,100,0.2);
}
